@import "tailwindcss";

@theme inline {
  --color-background: #141414; /* Netflix very dark background */
  --color-foreground: #ffffff; /* White text */
  --color-primary-500: #E50914; /* Netflix Red */
  --color-primary-600: #B81D24; /* Netflix Darker Red */
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Custom scrollbar for a better dark theme feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141414; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Utilitário para esconder a barra de rolagem em carrosséis mas manter o scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
